#game {
    position: relative;
    width: 400px; /* Adjust to your game's width */
    height: 600px; /* Adjust to your game's height */
    /* Your game's background and other styles */
}

.pipe-pair {
    position: absolute;
    left: 100%; /* Start off-screen to the right */
    top: 0;
    height: 100%; /* Set to the full height of the game area */
    width: 52px; /* Width of the pipe pair */
}

.pipe {
    position: absolute;
    width: 52px; /* Width of the pipes */
    background: linear-gradient(#57a64a, #9bc90d); /* Green gradient */
    border: 2px solid #365214; /* Dark green border for a 3D effect */
    border-radius: 5px; /* Slightly rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
}

.upper {
    height: 150px; /* Height of the upper pipe */
    bottom: 50%; /* Position the bottom of the upper pipe */
    position: relative;

}

.lower {
    height: 250px; /* Height of the lower pipe */
    top: 50%; /* Position the top of the lower pipe */
    position: absolute;

}
#bird {
    position: absolute;
    width: 45px; /* Adjust the size to fit your game design */
    height: 34px; /* Adjust the size to fit your game design */
    background: url('bluebird-upflap.png') no-repeat center center;
    background-size: cover; /* Ensure the bird image covers the element */
    top: 50%; /* Position the bird vertically */
    left: 10%; /* Position the bird from the left */
}


#score {
    position: absolute;
    z-index: 10; /* Ensure the score is above other elements */
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
}


#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-image: url('background-day.png'); /* Path to your background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image in the container */
}


.hidden {
    display: none;
}





